<% if (toast) { %>
<div
  id="toast"
  class="flex items-center gap-2 fixed top-5 right-5 z-50 rounded-lg bg-black px-4 py-3 text-white shadow-lg"
>
  <i class="fa-solid fa-circle-exclamation"></i>
  <%= toast %>
</div>
<% } %>
