<nav class="bg-black/95 text-white py-6 px-10 flex items-center justify-between">
  <a class="font-bold text-xl tracking-tight" href="/">
    <img src="/bbc logo white.png" alt="Logo" class="navbar-logo w-30" />
  </a>
  <div class="flex items-center">
    <a
      class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
      href="/candidates"
      >Dashboard</a
    >
    <a
      class="text-sm px-4 py-2 leading-none rounded-full hover:bg-gray-700"
      href="/form"
      >Add Candidate</a
    >
  </div>
</nav>
